@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("//fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  text-decoration: none !important;
}

body {
  margin: 0;
  background: #f1f1f1;
  background-image: url(./image/pexels-anna-nekrashevich-6476118.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-size: 100%;
  transition: 0.1s;
}

body.dark_mode {
  margin: 0;
  background: #f1f1f1;
  background-image: url(./image/pexels-otavio-fonseca-4665064.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-size: 100%;
  transition: 0.1s;
}

.box-dark-mode {
  background-color: #525252;
  color: rgb(252, 252, 252);
  padding: 20px;
  opacity: 0.9;
  border-radius: 0 20px 20px 0px;
  box-shadow: 2px 5px 5px #000000;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background-color: #072227;
  color: #f1f1f1;
  opacity: 1;
  border-radius: 20px 0 0 20px;
  box-shadow: 1px 5px 5px #000000;
}

.dropdown.position {
  position: fixed;
  z-index: 1;
  margin-left: 80%;
}

.header-dark-mode {
  padding: 30px;
  text-align: center;
  background-color: #313131;
  color: #f1f1f1;
  opacity: 1;
  border-radius: 20px 0 0 20px;
  box-shadow: 1px 5px 5px #000000;
}

.image {
  border-radius: 50%;
  width: 150px;
  margin-top: 100px;
}

.header h1 {
  font-size: 30px;
  margin-top: 15px;
}

.header-dark-mode h1 {
  font-size: 30px;
  margin-top: 15px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 100%;
}

.box_content {
  background-color: #072227;
  color: #f1f1f1;
  border-radius: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 10%;
  box-shadow: 2px 2px 3px #000000;
}

.box_content p {
  margin-left: 15%;
}

.box_content h2,
h3 {
  margin-left: 10%;
}

.box_content-dark-mode {
  background-color: #313131;
  color: #f1f1f1;
  border-radius: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 10%;
  box-shadow: 2px 2px 3px #000000;
}

.box_content-dark-mode p {
  margin-left: 15%;
}

.box_content-dark-mode h2,
h3 {
  margin-left: 10%;
}

/* Add a page effect for articles */
.content {
  background-color: #ffffff;
  padding: 20px;
  opacity: 0.9;
  border-radius: 0 20px 20px 0px;
  box-shadow: 2px 5px 5px #000000;
  z-index: 0;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #072227;
  color: #ddd;
  margin-top: 20px;
  opacity: 0.9;
}

.footer-dark-mode {
  padding: 20px;
  text-align: center;
  background: #313131;
  color: #ddd;
  margin-top: 20px;
  opacity: 0.9;
}

.download {
  background: #e7dfe5;
  color: #080808;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  margin-left: 70%;
  padding: 5px;
  transition: 0.5s;
  height: 70px;
  width: 100px;
}

.download:hover {
  padding: 2%;
  background-color: #333;
  transition: 0.5s;
  color: #ddd;
}

.resume {
  margin-top: 30px;
  transition: 0.3s;
}
.resume:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.fa {
  border-radius: 5px;
  text-align: center;
  text-decoration: none !important;
  margin: 5px 10px;
  width: 50px;
  padding: 10px;
  transition: 0.3s;
}

.fa:hover {
  opacity: 1;
  padding: 15px;
  width: 60px;
  transition: 0.3s;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #bd0423;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
  padding-inline: 150px;
}

.menu {
  display: none;
}

.sidebar-menu {
  width: 100%;
  border-radius: 10px;
}

.sidebar-menu a {
  margin-left: 30px;
}

.sidebar-menu:hover {
  transition: 0.5s;
  border-radius: 30px;
}

.responsive-container {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 2% 5% 5% 5%;
}

.page {
  display: block;
}

.dropdown {
  display: none;
}

video {
  width: 700px;
}

.img_modal {
  width: 700px;
}

.style_switch {
  float: right;
  margin-right: 15%;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-image: url("https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-night-halloween-victoruler-flat-victoruler.png");
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(241, 241, 241);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
  background-image: url('./image/icons8-sun-48.png');
  background-size: cover;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.grid-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.gallery {
  border-radius: 5px;
  box-shadow: 1px 3px 3px #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: auto;
  opacity: 1;
  transition: 0.3s;
}

.gallery:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media screen and (max-width: 1500px) {
  .responsive-container {
    grid-template-columns: 30% 70%;
  }

  .grid-container {
    padding-inline: 5%;
  }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  video {
    width: 310px;
  }

  .img_modal {
    width: 310px;
  }

  p {
    font-size: 11px;
  }
  h1 {
    font-size: 20px !important;
  }
  h2,
  h3 {
    font-size: 16px !important;
  }
  h4,
  h5,
  h6 {
    font-size: 14px !important;
  }

  .dropdown {
    display: block;
    float: right;
    box-shadow: 1px 1px 1px #000000;
  }

  .image {
    margin-top: 0;
    width: 100px;
  }

  .page {
    display: none;
  }

  .menu {
    display: block;
  }

  .responsive-container {
    grid-template-columns: auto;
    padding: 0;
    margin: 0;
  }

  .header {
    border-radius: 0;
    box-shadow: 0;
  }

  .content {
    border-radius: 0;
    box-shadow: 0;
    width: 100%;
  }

  .header-dark-mode {
    border-radius: 0;
    box-shadow: 0;
  }

  .box-dark-mode {
    border-radius: 0;
    box-shadow: 0;
    width: 100%;
  }

  .box_content {
    padding: 5%;
  }

  .box_content p {
    margin-left: 5%;
  }

  .box_content-dark-mode {
    padding: 5%;
  }

  .box_content-dark-mode p {
    margin-left: 5%;
  }

  .grid-container {
    grid-template-columns: auto;
    padding-inline: 5%;
  }

  .grid-gallery {
    grid-template-columns: auto;
    text-align: center;
  }
}
